/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 16px;
  width: 100%;
  height: 100vh;
}


/**
  * FOR BUTTONS
**/
.button{
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-block;
  min-width: 30px;
  padding: 4px 15px;
  text-align: center;
  white-space: nowrap;
}
.button-reduced{
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: inline-block;
  min-width: 23px;
  padding: 4px 15px;
  text-align: center;
  white-space: nowrap;
}
.button-arround{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border: none;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -.022em;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 980px;
}
.button-arround-reduced{
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
  min-width: 23px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.button-theme-action{
  background-color: #d23069 ;
  background: linear-gradient(#d22260, #d23069);
  color: #fff;
  border: 1px solid #d23069;

}
.button-theme-action:hover{
  background-color: #bf124e;
  background: linear-gradient(#bd0747, #bf124e);
}

.button-theme-secondaire{
  background-color: #4996d1 ;
  background: linear-gradient(#0088c9,#4996d1);
  color: #fff;
  border: 1px solid #4996d1;

}
.button-theme-secondaire:hover{
  background-color: #0088c9;
  background: linear-gradient(#038ccc,#4ba4e7);
}
